<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">

<hr>
	<center> <h4> Welcome<%= current_user.email %>! </h4></center>
	<center> <h4> You've earned 67 points! </h4></center>
<hr>

<div class="row">	
	<div class="col-md-3">
		<p><img src="/assets/girl_studying.png" style="height:250px;"></img></p>
	</div>

	<div class="col-md-5">
		<p>Sukrupa is a non­profit based in Bangalore India that focuses on creating educational 
				opportunities for children living in extreme poverty.</p>
				<p>Project Description: We are building a 7,500 square foot school located in Rajendra Nagar 

Slum, one of the most impoverished areas in Bangalore India. The building will provide free 

schooling to children of families earning less than 20,000 rupees a year. This 15 classroom 

school will accommodate 300 children and create 30 new jobs. Sukrupa’s goal is to raise 

$40,000US. Construction will take approximately nine months. </p>
	</div>

	<div class="col-md-3">
		Add like, donate, comment buttons
	</div>
</div>

<div class="row">
	<div clas="col-md-12">

<br>
<br>
</div>
</div>

<div class="well">
<h3> How this works: </h3> 

<p>Kliink provides value to non­profit organizations by promoting them. Spreading

the word through trusted sources often results in more donations than direct marketing alone. 

Creating buzz can be more powerful than donations. The more you spread the word, the more 

“philanthropist” points you accumulate! </p>

</div>
<br>

</div>