// Place all the styles related to the project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  font-family: Helvetica Neue;
}

.container {
  width: 750px !important;
}

a {
	color: green;
}

hr {
  height:3px;
  color:#a3a3a3;
}

.bold-black {
  font-weight:bold;
  color:#000;
}

h4.user_name {
  font-size:27px;
  color:#a3a3a3;
}

h4.total_points {
  font-size:27px;
  color:#a3a3a3;
}

.description {
  font-size:14px;
  line-height:1.2em;
  margin-bottom: 10px;
}

#project {
    height: 400px;
    overflow: scroll;
}

.project_item {
  font-size:14px;
}

.show_comment {
  font-size:14px;
  padding-right: 2cm;
}

.author {
  font-size:15px;
}

.well {
  font-size: 14px;
}

img.like, img.share, img.comment {
  cursor: pointer
}

input[type="radio"] {
  cursor:pointer
}