// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body-gray {
	padding-top: 70px;
	background: #E6E6E5; 
}

#myNavbar {
	background: #FFFFFF;
}
